[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "itdr"]
	path = itdr
	url = https://github.com/tharindupdealwis/itdr
[submodule "sdrt"]
	path = sdrt
	url = https://github.com/cran/sdrt
